.container{
  width:100%;
  // background: black;
}

// use of mixin
.container-home{
  @include container-size(100%,100vh);
  // background: yellow;
}

//use of mixin
.container-section-banner{
  @include container-size(30%,100vh);
  float: left;
  border: $border-1;
}

// use of mixin
.container-section-content{
  @include container-size(70%,100vh);
  background: $light-color;
  float: left;
  padding-left: 20px;
}

.clearfix::after{
  clear: both;
  // display: table;
  content: "";
}

//use of inheritance
.container-home-banner{
  @extend .container-home;
  // border: $border-1;
}
.container-home-logo{
  width: 100%;

}

.top-nav{
  width:100%;
  margin-top: 300px;


}

.top-list{
  width: 35%;
  float:right;
  // right:0;
  background: whitesmoke;
  // position:relative;
  // top:300px;

}

.col1{
  @include column-size(70%);
}
.col2{
  @include column-size(30%);
}

.home-content-right{
  // margin-top: 100px;
  // width:70%;

}
.home-side-nav{
  margin-top: 30px;
}
