$primary-color: #D92B04;
$secondary-color: #D91A60;
$tertiary-color: #D91A60;
$light-color: #D99379;
$border-color: #D99379;
$margin-1: 25px;
$margin-2: 50px;
$padding-1: 10px;
$padding-2: 20px;
$border-1: 1px solid $border-color;
$border-2: 2px solid blue;
